body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    margin:20px;
}

.header, #tagline {
    float:right;
    padding-right: 20px;

}
.nav > ul {
    overflow:hidden;
    list-style-type: none;
    background-color: #096fa3;
}
.nav > ul > li {
    float: right;
    display:block;
    color: white;
    text-align: center;
    padding: 10px;
}
.nav > ul > li > a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.about {
    grid-column: 1 / span 9;
    padding: 1% 5%;
}

.main-image {
    grid-column: 1 / span 9;
    padding: 1% 10%
}

.meetups {
    grid-column: 1 / span 9;
    padding: 1% 5%;
}

.meetup-manchester {
    grid-column: 1 / span 3;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    padding: 0px 10px 5px;
    margin: 10px;
    text-align: center;
    background-color: #55e995;
}

.meetup-stockport{
    grid-column: 4 / span 3;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    padding: 0px 10px 5px;
    margin: 10px;
    text-align: center;
    background-color: #fea38a;
}

.meetup-salford {
    grid-column: 7 / span 3;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    padding: 0px 10px 5px;
    margin: 10px;
    text-align: center;
    background-color: #ffdf8a;
}

.sidebar {
    grid-area: 1 / 10 / 5 / 13;
    background-color: #34a5da;
    color: white;
    padding: 20px;
}

footer {
    background-color: #34a5da;
    color: white;
    text-align: center;
}

.quiz {
    grid-area: 1 / 1 / 5 / 10;
}


.image-1 {
    grid-column: 1 / span 3;
}

.image-2 {
    grid-column: 4 / span 3;
}

.image-3 {
    grid-column: 7 / span 3;
}

.image-4 {
    grid-column: 1 / span 9;
}

.image-6 {
    grid-column: 1 / span 3;
}

.image-7 {
    grid-column: 4 / span 3;
}

.image-8 {
    grid-column: 7 / span 3;
}

.image-5 {
    grid-column: 1 / span 9;
}

.quiz{
    grid-area: 1 / 2 / 6 / 9;
}

fieldset {
    margin:10px;
}

legend, button {
    font-size: 1.2em;
}

input {
    margin:10px;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(9, 1fr);
    }
    
    .about {
        grid-column: 1 / span 9;
        padding: 1% 5%;
    }
    
    .main-image {
        grid-column: 1 / span 9;
        padding: 1% 10%
    }
    
    .meetups {
        grid-column: 1 / span 9;
        padding: 1% 5%;
    }
    
    .meetup-manchester {
        grid-column: 1 / span 3;
        border-style: solid;
        border-width: 5px;
        border-radius: 5px;
        padding: 0px 10px 5px;
        margin: 10px;
        text-align: center;
        background-color: #55e995;
    }
    
    .meetup-stockport {
        grid-column: 4 / span 3;
        border-style: solid;
        border-width: 5px;
        border-radius: 5px;
        padding: 0px 10px 5px;
        margin: 10px;
        text-align: center;
        background-color: #fea38a;
    }
    
    .meetup-salford {
        grid-column: 7 / span 3;
        border-style: solid;
        border-width: 5px;
        border-radius: 5px;
        padding: 0px 10px 5px;
        margin: 10px;
        text-align: center;
        background-color: #ffdf8a;
    }
    
    .sidebar {
        grid-area: 5 / 1 / 6 / 10;
        background-color: #34a5da;
        color: white;
        padding: 20px;
    }

}


@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    }
    
    .about {
        grid-column: 1 / span 1;
        padding: 1% 5%;
    }
    
    .main-image {
        grid-column: 1 / span 1;
        padding: 1% 10%
    }
    
    .meetups {
        grid-column: 1 / span 1;
        padding: 1% 5%;
    }
    
    .meetup-manchester {
        grid-column: 1 / span 1;
        border-style: solid;
        border-width: 5px;
        border-radius: 5px;
        padding: 0px 10px 5px;
        margin: 10px;
        text-align: center;
        background-color: #55e995;
    }
    
    .meetup-stockport {
        grid-column: 1 / span 1;
        border-style: solid;
        border-width: 5px;
        border-radius: 5px;
        padding: 0px 10px 5px;
        margin: 10px;
        text-align: center;
        background-color: #fea38a;
    }
    
    .meetup-salford {
        grid-column: 1 / span 1;
        border-style: solid;
        border-width: 5px;
        border-radius: 5px;
        padding: 0px 10px 5px;
        margin: 10px;
        text-align: center;
        background-color: #ffdf8a;
    }
    
    .sidebar {
        grid-area: 7 / 1 / 8 / 2;
        background-color: #34a5da;
        color: white;
        padding: 20px;
    }

    

}



